a {
    text-decoration: none;
}

h5 {
    color: #888;
    font-weight: 500;
}

hr {
    width: 80%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

address {
    margin-bottom: 2.5rem;
}

.intro {
    margin-top: 2rem;
    text-align: center;
}
.intro-image {
    width: 24rem;
    height: 24rem;
}

.values {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.value {
    text-align: center;
}
.value > img {
    margin-bottom: 1rem;
}
.value > p {
    padding-top: 1rem;
    border-top: 1px solid #5D9CEC;
}

.date {
    color: #3C3B3D;
    font-weight: bold;
}

.nav,
.nav-spacer {
    display: none;
}

/* Larger than a phone */
@media (min-width: 550px) {
    section {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .intro {
        margin-top: 8rem;
        text-align: 
    }
    .intro-text {
        text-align: left;
    }
    .intro-button {
        float: left;
    }

    .values {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

/* Larger than a tablet */
@media (min-width: 750px) {
    .nav {
        z-index: 6;
        display: block;
        width: 100%;
        height: 6rem;
        background: #fff;
    }
    .nav-list {
        margin-bottom: 0;
        list-style: none;
    }
    .nav-item {
        position: relative;
        display: inline-block;
        margin-bottom: 0;
    }
    .nav-item > a {
        margin-right: 16px;
        margin-left: 16px;
        font-size: 13px;
        font-weight: 600;
        line-height: 6rem;
        letter-spacing: .2rem;
        color: #222;
        text-transform: capitalize;
    }
    .nav-item > a:hover {
        color: #5D9CEC;
    }
    .has-nav-docked .nav {
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid #ddd;
    }
    .has-nav-docked .nav-spacer {
        height: 6rem;
    }
}