{% extends "base/base.html" %}

{% block content %}

<div style="width:80%;margin: 0 auto;">
 <div class="jumbotron">
		<h1>Thank you to our corporate sponsors </h1>
     <p><br>Thank you to all our sponsors!</br>
    It is with your generous support that the Metal Mustangs are able to compete in competition and create an environment for young adults to learn technical and life skills preparing them for college and their careers.
    <br>Sincerely, The Metal Mustangs Robotics Members & Mentors,</br>
<br>Thank You! </br></p>
	</div>
{% include "includes/sponsors.html" %}
    <div class="jumbotron">
        
        <p> Placement for list until Mrs Pudvan approves </p>
</div>
<div class="jumbotron">
        
        <p> Placement for list until Mrs Pudvan approves </p>
</div>
    
    
   <div class="jumbotron">
       <h1> Prospective Sponsors </h1>
       <img src="file:///C:/Users/ttnguyen02/Downloads/Metal%20Mustangs%20Robotics%20FRC2410%20Donation%20Solicitation%20letter%202018-2019%20(1).pdf" style="width:600px; height:500px;" frameborder="0"></img>
        
</div> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>    
    {% endblock %}
