<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FRC Team 2410 :: The Metal Mustangs</title>
	<link rel="shortcut icon" href="{{ baseUrl() }}/img/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ baseUrl() }}/css/mmr.css">
	<link href="{{ baseUrl() }}/css/yeti.min.css" rel="stylesheet">
	<link href="{{ baseUrl() }}/css/ladda-themeless.min.css" rel="stylesheet">
	<link href="{{ baseUrl() }}/css/theme.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	{% block customHead %}{% endblock %}
</head>
<body id="body">

	<script type="text/javascript">
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
   			document.getElementById("body").style.background = "#2a2a2a";
		}	
	</script>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="{{ baseUrl() }}">Metal Mustangs <span class="label label-primary">2410</span></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ baseUrl() }}">Home</a></li>
                <li><a href="{{ baseUrl() }}/2020">2020: Genuine Risk</a></li>
				<li><a href="{{ baseUrl() }}/team">Team</a></li>
				<li><a href="{{ baseUrl() }}/calendar">Calendar</a></li>
                <li><a href="{{ baseUrl() }}/robots">Robot History</a></li>
				<li><a href="{{ baseUrl() }}/community">Community</a></li>
				<li><a href="{{ baseUrl() }}/sponsors">Sponsors</a></li>
				<li><a href="{{ baseUrl() }}/contact">Contact</a></li>
				<li><a href="https://www.youtube.com/channel/UC8DLmHp7w6I7lVIN9SX80wA"target="_blank" class="social-icon,">
					<img style="width: 20px; height: 20px;" src="{{ baseUrl() }}/img/social/youtube.png">
				<li><a href="https://www.facebook.com/FRC2410"target="_blank" class="social-icon,">
					<img style="width: 20px; height: 20px;" src="{{ baseUrl() }}/img/social/facebook.png">
				<li><a href="https://twitter.com/team2410"target="_blank" class="social-icon,">
						<img style="width: 20px; height: 20px;" src="{{ baseUrl() }}/img/social/twitter.png">
				<li><a href="https://www.instagram.com/metalmustangrobotics/"target="_blank" class="social-icon,">
						<img style="width: 20px; height: 20px;" src="{{ baseUrl() }}/img/social/instagram.png">
				<li><a href="https://github.com/caps-robotics"target="_blank" class="social-icon,">
						<img style="width: 20px; height: 20px;" src="{{ baseUrl() }}/img/social/github.png">
			</ul>
		</div>
	</div>
</div>

	<div class="container">

		{% block content %}{% endblock %}

	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-83661433-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>

	$(".navbar-list").on("click", function(e) {
		$(this).toggleClass("active");
	})

	</script>

</body>
</html>
