<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FRC Team 2410 :: The Metal Mustangs</title>
    <link rel="shortcut icon" href="{{ baseUrl() }}/img/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ baseUrl() }}/css/mmr.css">

    <style>

    body {
        margin-top: 5.25em;
    }

    </style>

    <script src="{{ baseUrl() }}/js/zepto.min.js"></script>

    {% block customHead %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar--primary navbar--fixed">
        <div class="container">
            <a href="{{ baseUrl() }}" class="navbar-brand">2410</a>
            <ul class="navbar-list">
                <li><a href="{{ baseUrl() }}">Home</a></li>
                <li><a href="{{ baseUrl() }}/robots">Robots</a></li>
                <li><a href="{{ baseUrl() }}/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        {% block content %}{% endblock %}

    </div>

    <script>

    $(".navbar-list").on("click", function(e) {
        $(this).toggleClass("active");
    })

    </script>

</body>
</html>
