@mixin button-variant($color, $background-color) {
    color: $color;
    background-color: $background-color;
    border-bottom-color: darken($background-color, 10%);

    &:hover {
        color: $color;
    }

    .active,
    &:active {
        background-color: darken($background-color, 5%);
    }
}

@mixin button-sponsor-variant($color, $outline-color) {
    margin: 0.25em;
    color: $color;
    border: 1px solid $outline-color;
    border-bottom-color: darken($outline-color, 10%);
    border-bottom-width: $button-border-width;

    &:hover {
        color: $color;
        text-decoration: underline;
    }
}

.button {
    position: relative;
    display: inline-block;
    min-width: $button-min-width;
    padding: $button-padding-y $button-padding-x;
    color: $text-color;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0 solid transparent;
    border-bottom-color: transparent;
    border-bottom-width: $button-border-width;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }

    .active,
    &:active {
        transform: translateY($button-border-width);
    }

    &:focus {
        outline: none;
    }
}

.button--default { @include button-variant($button-default-color, $button-default-background); }
.button--primary { @include button-variant($text-color-inverse, $primary); }
.button--success { @include button-variant($text-color-inverse, $success); }
.button--info { @include button-variant($text-color-inverse, $info); }
.button--warning { @include button-variant($text-color-inverse, $warning); }
.button--danger { @include button-variant($text-color-inverse, $danger); }

.button--sponsor-default { @include button-sponsor-variant($primary, $grey-light); }
.button--sponsor-primary { @include button-sponsor-variant($primary, $primary); }
.button--sponsor-success { @include button-sponsor-variant($primary, $success); }
.button--sponsor-info { @include button-sponsor-variant($primary, $info); }
.button--sponsor-warning { @include button-sponsor-variant($primary, $warning); }
.button--sponsor-danger { @include button-sponsor-variant($primary, $danger); }

.button--facebook { @include button-variant($text-color-inverse, $facebook); }
.button--twitter { @include button-variant($text-color-inverse, $twitter); }
.button--github { @include button-variant($text-color-inverse, $github); }
.button--facebook,
.button--twitter,
.button--github {
    padding: $button-padding-y;
}

.button--link {
    @include button-variant($link-color, transparent);

    &:hover {
        color: darken($link-color, 10%);
    }

    &:active {
        color: darken($primary, 10%);
        transform: none;
    }
}
