.carousel {
    position: relative;
    height: 20em;
    overflow: hidden;

    &-item {
        position: absolute;
        top: 0;
        width: 100%;
        transition: left 1s ease;
    }

    &-text-hidden {
        color: transparent;
    }

    &-control {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin: 0 1em;
        border: 2px solid $grey;
        border-radius: 1em;
        transition: background-color 1s ease,
                    border-color 1s ease;
    }

    &-controller {
        margin: 0 auto;
        margin-bottom: 1em;
        text-align: center;
    }

    img {
        display: block;
        width: 100%;
    }

    p {
        padding: 0 1em;
        text-indent: 0;
    }

    &-control--active {
        background-color: $primary;
        border-color: $primary;
    }
}
