extends ./layout.jade

block content
    .container
        .contact
            img(src="https://maps.googleapis.com/maps/api/staticmap?center=7501%20W%20149th%20Terrace,%20Overland%20Park,%20KS%2066223&maptype=roadmap&size=560x280&markers=7501%20W%20149th%20Terrace,%20Overland%20Park,%20KS%2066223").img-responsive.contact--img
            address.contact--address
                b Bluevalley Center for Advanced Professional Studies
                br
                | 7501 West 149th Terrace
                br
                | Overland Park, KS 66223
                br
                | Phone: +1 (913) 239-5900
            address.contact--address
                b Dan Ritter
                br
                | Head Mentor
                br
                a(href="mailto:dpritter@bluevalleyk12.org") dpritter@bluevalleyk12.org
            address.contact--address
                b Lauren Pudvan and Mathew Orzechowski
                br
                | Student Leadership / Team Captains
                br
                a(href="mailto:captain@mmr2410.com") captain@mmr2410.com
            address.contact--address
                b Dominic Tassio
                br
                | Webmaster
                br
                a(href="mailto:webmaster@mmr2410.com") webmaster@mmr2410.com