extends ./layout.jade

block content
    .jumbotron
        .container
            h1.center Welcome
            p.justify We are Metal Mustang Robotics, FRC Team 2410, from the Blue Valley School District in Overland Park, Kansas. Metal Mustang Robotics competes in FIRST (For Inspiration and Recognition of Science and Technology) Robotics Competitions. In FRC, high schools nationwide build a robot in a 6-week time span for competition. We are dedicated to providing opportunities for high school students to explore applications of science and technology as well as achieve personal goals and aspirations.
            p.center Have Questions?
                br
                a(href="contact").btn-outline.space-around Contact us!

    .container
        .media.media-right
            img(src=first, alt="FIRST")
            .media--content
                h1 What is FIRST?
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui aliquam quis, voluptas cupiditate dolorem soluta vero id iusto quae necessitatibus! Iure ratione, beatae eos esse pariatur deleniti voluptatibus deserunt laborum aspernatur at. Quis ipsam rerum aspernatur magni, ducimus fugit velit quisquam, maxime? Sed dolores commodi ipsum, dicta ipsam labore delectus alias, vel, ratione obcaecati asperiores tenetur officia excepturi ullam at consequatur quam animi reprehenderit quia sit nulla, doloribus rerum molestias eius. Asperiores ipsa, alias nemo modi nihil fuga tempore enim repellendus, esse, labore maxime ipsum veritatis! Iusto temporibus, quasi omnis cum ipsa impedit laudantium necessitatibus dicta ut qui veritatis dolor tempora natus autem nostrum illum, eaque, quia est. Earum nam enim et dolore sapiente ratione vitae odit nostrum iste fugiat.
        .media.media-right
            img(src=recyclerush, alt="Recycle Rush")
            .media--content
                h1 What's the game this year? Recycle Rush!
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae saepe animi, sequi nobis quos earum illum cupiditate ullam cum veritatis, corrupti, repellat tempora iure aliquid fuga harum officiis ipsa sunt alias delectus reiciendis ipsam. Quo maxime iure accusamus dicta, nulla architecto fugit praesentium? Esse error saepe necessitatibus, similique pariatur itaque dolorum fugit eaque excepturi quis, quasi delectus, tenetur optio maxime. Incidunt quaerat cumque labore suscipit laboriosam distinctio nulla debitis consectetur, eligendi dolores adipisci voluptatibus natus et necessitatibus, aut, sunt reiciendis quis laborum doloribus. Id expedita obcaecati inventore quasi, facere quae harum neque mollitia, unde porro, ad quisquam voluptatibus. Asperiores sed nesciunt assumenda iusto, amet sint pariatur nulla quasi ea voluptatum, reiciendis quia fugit deserunt unde nihil aperiam tempore tenetur explicabo.
        .grid
            .grid--column--half
                .media.media-list
                    h1.media-list--header Season Info
                    p <b>Game Name</b> Recycle Rush
                    p <b>Kick Off</b> January 3rd
                    p <b>Build Season</b> January 3rd - February 17th
                    p <b>Greater Kansas City Regional</b> March 11th - 14th
                    p <b>Hub City Regional</b> March 25th - 28th
                    p <b>World Championship</b> April 22nd - 25th
            .grid--column--half
                | Twitter
