extends ./layout.jade

block content
    .jumbotron
        .container
            h1 Welcome
            p We are Metal Mustang Robotics, FRC Team 2410, from the Blue Valley School District in Overland Park, Kansas. Metal Mustang Robotics competes in FIRST (For Inspiration and Recognition of Science and Technology) Robotics Competitions. In FRC, high schools nationwide build a robot in a 6-week time span for competition. We are dedicated to providing opportunities for high school students to explore applications of science and technology as well as achieve personal goals and aspirations.

    .container
        .media.media-large
            img(src="first.jpg", alt="first").img--reponsive
            .media--content
                h1 FIRST
                    small For Inspiration and Recognition of Science and Technology
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni est nemo, esse iusto provident vel impedit quis magnam quibusdam voluptatum officia atque, dicta ut iure, debitis quisquam sint nulla, ratione facere inventore iste soluta! Quod obcaecati excepturi ratione laudantium aperiam praesentium pariatur laborum ipsa omnis corrupti veniam, quis aliquid doloremque.
        .grid
            .grid--column--half
                h1 Season Info
                ul
                    li Kick Off: January 3rd
                    li Build Season: January 3rd - February 17th
                    li Greater Kansas City Regional: March 11th - 14th
                    li Hub City Regional: March 25th - 28th
                    li World Championship: April 22nd - 25th
            .grid--column--half
