@import 'vendor/normalize';

body {
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}