.container {
	@include container-fixed();

	@media (min-width: 768px) {
		width: (720px + 30px);
	}

	@media (min-width: 992px) {
		width: (940px + 30px);
	}

	@media (min-width: 1200px) {
		width: (1140 + 30px);
	}
}

.center { text-align: center; }

.justify { text-align: justify; }

.right { text-align: right; }

.left { text-align: left; }

.space-around {
	margin: 15px;
}

.grid {
	display: flex;
	flex-direction: row;
	margin: 0 -15px;
	&--column {
		&--half {
			box-sizing: padding-box;
			width: 50%;
			padding: 15px;
		}
		&--thrid {
			box-sizing: padding-box;
			width: 33.33%;
			padding: 15px;
		}
		&--forth {
			box-sizing: padding-box;
			width: 25%;
			padding: 15px;
		}
	}
}

.width {
	&--half {
		width: 50%;
	}
	&--thrid {
		width: 33.33%;
	}
	&--forth {
		width: 25%;
	}
	&--fifth {
		width: 20%;
	}
}

.height {
	&--half {
		height: 50%;
	}
	&--thrid {
		height: 33.33%;
	}
	&--forth {
		height: 25%;
	}
	&--fifth {
		height: 20%;
	}
}