<div id="carousel" class="carousel">
    <div id="carousel-items" class="carousel-items">
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/kc2016.png">
            <p>Our team after the 2016 Greater Kansas City Regional. We struggled a little, but were ready to go to Iowa!</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/team2016.jpg">
            <p>The group of students within the CAPS program who worked on our 2016 Stronghold robot.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/gotta-go-fast.jpeg">
            <p>Our speeding robot at the 2016 KC Regional!</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/bag-day.png">
            <p>Our team after we finished and bagged the robot.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/manowar.jpeg">
            <p>Our finished robot, Man O War.</p>
        </div>
    </div>
    <div id="carousel-controls" class="carousel-controls"></div>
</div>

<script src="{{ baseUrl() }}/js/carousel.js"></script>
<script>

var carousel = new Carousel("#carousel");

</script>
