<div id="carousel" class="carousel">
    <div id="carousel-items" class="carousel-items">
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/IowaBanner.jpg">
            <p>We won Iowa!</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/GottaGoFast.jpg">
            <p>Our speeding robot at the 2017 Iowa Regional.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/SafetyStars.jpg">
            <p>Abby and Lillie won Safety Stars.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/PlacingGear.jpg">
            <p>Our robot delivering a gear.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/GroupHug.jpg">
            <p>Group hug around driveteam after our victory.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/home/RobotPushingBalls.jpg">
            <p>Pushing the field obstacles.</p>
        </div>
    </div>
    <div id="carousel-controls" class="carousel-controls"></div>
</div>

<script src="{{ baseUrl() }}/js/carousel.js"></script>
<script>

var carousel = new Carousel("#carousel");

</script>
