<br>
<div style="text-align: center;">
        <b>
                <p>Knowledge share | Intro To Machining</p>
                <h2 style="padding:0;margin:0"><small>May 7th 6pm</small></h2>
                <br>
                <p>New Member Zoom</p>
                <h2 style="padding:0;margin:0"><small>May 12th 6pm</small></h2>
                <br>
                <p>Knowledge share | CNC</p>
                <h2 style="padding:0;margin:0"><small>May 14th 6pm</small></h2>
	</b>
</div>
<br style="clear:both;"/>
