<!--
<br>
<div style="text-align: center;">
    <h2 style="padding:0;margin:0"><b>BV North Fair</b><br></h2>
    <h2 style="padding:0;margin:0"><small>August 8</small></h2>
</div>
<br style="clear:both;"/>

<p>2410 is visiting Blue Valley activity fairs! Be sure to check us out there. If you missed us, be sure to sign up using the Google form so we can let you know when we have our interest meeting. Questions about the team? Shoot us an email at <a href="mailto:bvcapsrobotics@gmail.com">bvcapsrobotics@gmail.com!</a></p>
-->