<ul>
    <li>
        <span>2017 FRC Season Kickoff</span>
        <span class="pull-right">January 7th, 9am - 3pm</span>
    </li>
    <li>
        <span>2017 FRC Stop Build Day/Parent Meeting</span>
        <span class="pull-right">February 21th, 6pm - 8pm</span>
    </li>
    <li>
        <span>2017 FRC Greater Kansas City Regional</span>
        <span class="pull-right">March 16-18</span>
    </li>
    <li>
        <span>2017 FRC Iowa Regional</span>
        <span class="pull-right">March 23-25</span>
    </li>
</ul>
