<p>FIRST is a worldwide organization that promotes inspiration and recognition of science and technology. There are many different levels of FIRST, including: Jr. FLL, FLL, FTC, and FRC. FIRST's mission is to "show students of every age that science, technology, and problem-solving are not only fun and rewarding, but are proven paths to successful careers and a bright future for us all."</p>
<div class="fluidMedia">
    <iframe src="https://www.youtube.com/embed/wSA6InzFAZE" frameborder="0" allowfullscreen></iframe>
</div>