<div id="carousel" class="carousel">
    <div id="carousel-items" class="carousel-items">
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/IMG_1432.JPG">
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/IMG_1434.JPG">
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/IMG_1437.JPG">
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/IMG_1438.JPG">
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/IMG_1440.JPG">
        </div>
    </div>
    <div id="carousel-controls" class="carousel-controls"></div>
</div>

<script src="{{ baseUrl() }}/js/carousel.js"></script>
<script>

var carousel = new Carousel("#carousel");

</script>
