<div id="carousel" class="carousel">
    <div id="carousel-items" class="carousel-items">
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/AbbyGirlScouts.JPG">
            <p>Our team invites local Girl Scout troops to our building for tours and demonstrations.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/AnimeshPainting.JPG">
            <p>Last summer, our team helped paint a classroom at an inner-city elementary school.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/AppCamps.jpg">
            <p>We run Android App Programming Camps each summer at CAPS to teach middle schoolers about STEM.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/FTCRegional.JPG">
            <p>This year, our team hosted an FTC qualifier at CAPS for the FIRST <span style="font-size: 0.25em;">(ha)</span> time.</p>
        </div>
        <div class="carousel-item">
            <img src="{{ baseUrl() }}/img/outreach/MakerFaire.JPG">
            <p>Each summer, our team goes to the KC Maker Faire to demonstrate our robot, working with other local teams.</p>
        </div>
    </div>
    <div id="carousel-controls" class="carousel-controls"></div>
</div>

<script src="{{ baseUrl() }}/js/carousel.js"></script>
<script>

var carousel = new Carousel("#carousel");

</script>
