
    <a href="https://www.bvcaps.org" style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/caps.png" alt="Blue Valley CAPS" width="20%">
	</a>
	<a href="https://www.gm.com" style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/GM.png" alt="General Motors" width="15%">
	</a>
	<a href="https://www.ryerson.com"style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/ryerson.png" alt="Ryerson" width="20%">
	</a>
	<br><br>
	<a href="https://www.huhtamaki.com" style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/huhtamaki.jpg" alt="Huhtamaki" width="30%">
	</a>
	<a href="https://www.diteq.com/" style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/Diteq.svg" alt="Diteq" width="17%">
	</a>
	<a href="https://www.disney.com/" style="text-decoration: none">
		<img style="margin: 0em .5em;" src="{{ baseUrl() }}/img/sponsors/Disney.png" alt="Disney" width="22%">
	</a>
