{% set sponsors = [
    ['Blue Valley CAPS', 'http://www.bvcaps.org', 'success'],
    ['BVEF', 'http://www.bvef.org', 'warning'],
    ['General Motors', 'http://www.gm.com', 'default'],
    ['Ryerson', 'http://www.ryerson.com', 'primary'],
    ['Hantover', 'http://www.hantover.com', 'warning'], 
    ['Huhtamaki', 'http://http://www.huhtamaki.com/' 'primary']
    ['UnitedHealthCare','http://https://www.uhc.com/' 'default']
] %}

<div class="margin-b text-center">

    {% for sponsor in sponsors %}
        <a href="{{ sponsor[1] }}" class="button button--sponsor-{{ sponsor[2] }}">{{ sponsor[0] }}</a>
    {% endfor %}

</div>
