.media {
	display: flex;
	width: 100%;

	&-right {
		.media--content {
			order: 1;
		}

		img {
			order: 2;
		}
	}

	&-left {
		.media--content {
			order: 2;
		}

		img {
			order: 1;
		}
	}

	img {
		margin: 15px;
		width: 25%;
		height: 25%;
	}

	&--content {
		width: 75%;
	}
}