.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #008cba;
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 65px;
    text-transform: capitalize;
    font-size: 13px;

    &-secondary {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        height: 100px;
        text-transform: capitalize;

        .nav--item {
            &:hover {
                background: transparent;
                background: rgba(#008cba,0.05);
            }

            a {
                padding: 40px;
                color: #008cba;
            }
        }
    }

    &--item {
        width: 12.5%;
        text-align: center;

        &:hover {
            background: #006687;
        }

        &-active {
            background: #006687;
        }

        a {
            display: inline-block;
            padding: 24px;
            height: 17px;
            color: white;
            margin: 0 auto;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &--brand {
        @extend .nav--item;
        text-transform: uppercase;
        align-self: flex-start;

        &:hover {
            background: none;
        }
    }

    &--media {
        width: 12.5%;
        text-align: center;
        align-self: flex-end;
        display: inline-block;
        color: white;
    }

    &--icon {
        display: inline-block;
        margin: 24px 6px;
        color: white;
    }
}