.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #008cba;
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    height: 65px;
    text-transform: capitalize;
    font-size: 13px;

    &-secondary {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        height: 100px;
        text-transform: capitalize;

        .nav--item {
            &:hover {
                background: transparent;
            }

            a {
                padding: 40px;
                color: #008cba;
            }
        }
    }

    &--item {
        &s {
            flex-grow: 3;
            ul {

            }
        }
        &:hover {
            background: #006687;
        }

        &-active {
            background: #006687;
        }

        a {
            display: inline-block;
            padding: 24px;
            height: 17px auto;
            color: white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &--brand {
        @extend .nav--item;
        text-transform: uppercase;
        align-self: flex-start;
        flex-grow: 1;

        &:hover {
            background: none;
        }
    }

    &--media {
        align-self: flex-end;
        display: inline-block;
        color: white;
        flex-grow: 1;
    }

    &--icon {
        display: inline-block;
        margin: 24px 6px;
        color: white;
    }

    &--search {
        display: inline-block;
        color: white;
        margin: 19px;

        .icon {
            display: inline-block;
            margin-right: -28px;
            background: white;
            color: #008cba;
            padding: 5px 7px;
            pointer-events: none;
        }

        [type="search"],
        [type="text"] {
            padding: 4px 6px 4px 30px;
            height: auto;
            color: #333;
            border: none;
            outline: none;
        }
    }
}