<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>

    <link rel="stylesheet" href="{{ baseUrl() }}/css/mmr.css">

</head>
<body>

    <button class="button button--default">Default!</button>
    <a href="#" class="button button--default">Default!</a>

    <br>
    <br>

    <button class="button button--primary">Primary!</button>
    <a href="#" class="button button--primary">Primary!</a>

    <br>
    <br>

    <button class="button button--success">Primary!</button>
    <a href="#" class="button button--success">Primary!</a>

    <br>
    <br>

    <button class="button button--info">Primary!</button>
    <a href="#" class="button button--info">Primary!</a>

    <br>
    <br>

    <button class="button button--warning">Primary!</button>
    <a href="#" class="button button--warning">Primary!</a>

    <br>
    <br>

    <button class="button button--danger">Primary!</button>
    <a href="#" class="button button--danger">Primary!</a>

    <br>
    <br>

    <button class="button button--link">Link!</button>
    <a href="#" class="button button--link">Link!</a>

</body>
</html>
