<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>

    <link rel="stylesheet" href="{{ baseUrl() }}/css/mmr.css">

    <style>

    body {
        height: 400vh;
        margin-top: 2.75em;
    }

    </style>

</head>
<body>

    <nav class="navbar navbar--primary navbar--fixed">
        <div class="container">
            <ul class="navbar-list">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <nav class="navbar navbar--success">
        <div class="container">
            <ul class="navbar-list">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <nav class="navbar navbar--info">
        <div class="container">
            <ul class="navbar-list">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <nav class="navbar navbar--warning">
        <div class="container">
            <ul class="navbar-list">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
    </nav>

    <br>

    <nav class="navbar navbar--danger">
        <div class="container">
            <ul class="navbar-list">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#media">Media</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>
