{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="background-color: black; vertical-align: center; height: 80vh;padding: 0;margin: 0;display: table;overflow: hidden; width: 100%">
		<div style="display: table-cell;vertical-align: middle;">
			<h1 style="text-align: center;color: white">Coming soon...</h1>
		</div>
	</div>
	
	<h4 style="text-align: center;"><a style="color: white;" href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></h4>

{% endblock %}
