{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="text-align: center;">
		<h1><b>Eclipse</b></h1>
        <h2><a href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></h2>
        <center><img src="{{ baseUrl() }}/img/robot/bigjake2.jpg" style="max-width: 100%;"></center>

		<br>
		<br>
		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Swerve Drive</b><br></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Speed</b><br></h2>
			<h2 style="padding:0;margin:0"><small>14 feet per second</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Sandstorm</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Can place hatch and cargo</small></h2>
			<h2 style="padding:0;margin:0"><small>Auto allignment</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Climbing</b><br></h2>
			<h2 style="padding:0;margin:0">Yes</small></h2>
		</div>
		<br style="clear:both;"/>

	</div>

	{% include "includes/sponsors.html" %}

{% endblock %}

