{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="text-align: left;">
		<h1><b>Genuine Risk</b></h1>
		<h2><a href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></h2>
		<h2><b>Image coming soon</b></h2>

		<br>
		<br>
		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>6 Wheel Drop Tank Drive</b><br></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Qualities</b><br></h2>
			<h2 style="padding:0;margin:0"><small>17.9 ft/s</small></h2>
			<h2 style="padding:0;margin:0"><small>12 ft/s^2</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Autonomous</b><br></h2>
			<h2 style="padding:0;margin:0"><small>In development</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Tele-Operated</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Shoot into upper port from 6-20 ft away</small></h2>
			<h2 style="padding:0;margin:0"><small>Intake and store up to 5 balls</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Climbing</b><br></h2>
			<h2 style="padding:0;margin:0"><small>In development</small></h2>
		</div>
		<br style="clear:both;"/>

	</div>
	<div class="jumbotron">
		<h1>Results</h1>

		<br>
		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Heartland Regional</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Cancelled</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Central Missouri Regional</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Cancelled</small></h2>
		</div>
		<br style="clear:both;"/>
	</div>

    <div class="jumbotron">
        <h1>Sponsors</h1>
	    {% include "includes/sponsors.html" %}
    </div>

{% endblock %}
