{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="text-align: left;">
		<h1><b>Robot Name</b></h1>
		<h2><a href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></h2>
		<img src="https://i.imgur.com/8n0ceCM.jpg" style="max-width: 45%;">

		<br>
		<br>
		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Drivetrain</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Lorem ipsum dotum sit amulet</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Speed</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Lorem ipsum dotum sit amulet</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Autonomous</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Lorem ipsum dotum sit amulet</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Tele-Operated</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Lorem ipsum dotum sit amulet</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: left;">
			<h2 style="padding:0;margin:0"><b>Endgame</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Lorem ipsum dotum sit amulet</small></h2>
		</div>
		<br style="clear:both;"/>

	</div>
	<div class="jumbotron">
		<h1>Results</h1>

		<br>
		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Heartland Regional</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Rank: 0th</small></h2>
			<h2 style="padding:0;margin:0"><small>Record: 0-0-0</small></h2>
		</div>
		<br style="clear:both;"/>

		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><b>Central Missouri Regional</b><br></h2>
			<h2 style="padding:0;margin:0"><small>Rank: 0th</small></h2>
			<h2 style="padding:0;margin:0"><small>Record: 0-0-0</small></h2>
		</div>
		<br style="clear:both;"/>
	</div>

    <div class="jumbotron">
        <h1>Sponsors</h1>
	    {% include "includes/sponsors.html" %}
    </div>

{% endblock %}
