{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="text-align: left;">
        
        
        
        
        
        
    <div class="jumbotron">
		<h1>NCWIT</h1>
        <h2>2/8/19<h2>
		{%  include "includes/NCWIT.html" %}
	</div> 
      
        
    <div class="jumbotron">
		<h1>Hockey Competition</h1>
        <h2>1/1/19<h2>
		{%  include "includes/hockey.html" %}
	</div> 
   
    <div class="jumbotron">
		<h1>TedxKC</h1>
        <h2>12/1/18<h2>
		{%  include "includes/TedxKC.html" %}
	</div>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

	{% include "includes/sponsors.html" %}
</div>

{% endblock %}
