{% extends "base/base.html" %}

{% block content %}

    <div class="row">

        <div class="md-seven columns pull-right">

			<h2 class="text-info">The Metal Mustangs and The Community</h2>

            <p>Our team values giving back to the community. We are about more than robots. Every year we hold a robotics tournament for elementary and middle school-aged students. A unique aspect to this tournament is the First Lego League Ladies Luncheon, or FLLLL. Girls on these younger teams participate, listening to a guest speaker to inspire a role model in a STEM career. Team members also mentor younger robotics teams. We host booths at major Kansas City events, such as NASCAR, Sporting KC, and the Maker Faire to inspire engineering, science, and innovation, and to make connections throughout the metro area. We also hold app camps over the summer to teach students programming skills.</p>
            <p>Team 2410 hosts various groups in the CAPS facility. We give tours, demos, and provide activities geared toward. If you have an organization and would like more information about this, feel free to contact us.</p>

            <h2 class="text-info">Work with Girl Scouts</h2>

            <p>Metal Mustangs alumna Abby Fry (Class of 2017) developed activities for demonstrations for local girl scout troops as part of her Girl Scouts Gold Award Project. One of the main topics of these demonstrations was teaching the girl scouts about binary and making binary bracelets to help them learn about ASCII encoding. The pdf with instructions for this activity and some other STEM related activities will be shown below and the accompanying powerpoint can be downloaded by <a href="{{ baseUrl() }}/documents/BinaryBraceletPresentation.ppt">clicking here.</a></p>

            <embed src="{{ baseUrl() }}/documents/STEMActivitiesForGroupsAndAGuideForTeachingThem.pdf" width="100%" height="800px">
        </div>

        <div class="md-five columns pull-left">

            {% include 'includes/outreach-carousel.html' %}

        </div>

    </div>

{% endblock %}
