{% extends "base/base.html" %}

{% block customHead %}

    <style>

        .button {
            min-width: 9em;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="md-five columns">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=7501 W 149th Terrace, Overland Park, KS 66223&maptype=roadmap&size=560x280&markers=7501 W 149th Terrace, Overland Park, KS 66223" alt="Google Maps, Center for Advanced Profession Studies, 7501 W 149th Terrace, Overland Park, KS 66223" width="100%">
            <address class="padding">
                <b>Center for Advanced Professional Studies</b><br>
                Our home<br>
                7501 West 149th Terrace<br>
                Overland Park, KS<br>
                Phone: +1 (913) 239-5900
            </address>
        </div>
        <div class="md-four columns">
            <h3 class="text-info">People Of Interest</h3>

            <address>
                <b>Dan Ritter</b><br>
                Head Mentor<br>
                Email: <a href="mailto:dpritter@bluevalleyk12.org">dpritter@bluevalleyk12.org</a>
            </address>

            <address>
                <b>Griffith Stites</b> and <b>Animesh Shrouti</b><br>
                Team Captains<br>
                Email: <a href="mailto:captain@mmr2410.com">captain@mmr2410.com</a>
            </address>

            <address>
                <b>Webmaster</b><br>
                Email: <a href="mailto:webmaster@mmr2410.com">webmaster@mmr2410.com</a>
            </address>
        </div>
        <div class="md-three columns">
            <h3 class="text-info">Social Media</h3>
            <p class="text-no-indent"><a href="https://twitter.com/team2410" class="button button--primary">Twitter</a></p>
            <p class="text-no-indent"><a href="https://facebook.com/FRC2410" class="button button--primary">Facebook</a></p>
            <p class="text-no-indent"><a href="https://github.com/caps-robotics" class="button button--primary">Github</a></p>
            <p class="text-no-indent"><a href="https://instagram.com/metalmustangrobotics" class="button button--primary">Instagram</a></p>
        </div>
    </div>

{% endblock %}
