{% extends "base/base.html" %}

{% block content %}

    <div class="row">


        <div class="md-seven columns pull-right">

            <h1 class="text-info">FRC Team 2410: The Metal Mustangs</h1>

            <h3 class="text-info">Meeting Schedule</h3>
            {%  include "includes/meeting-schedule.html" %}
            
            <h3 class="text-info">Who We Are</h3>
            {% include "includes/who-are-we.html" %}
            
            <h3 class="text-info">Dates To Know</h3>
            {% include "includes/dates-to-know.html" %}
            
            <h3 class="text-info">Reveal Video 2017</h3>
            <p>Here is our reveal video for our 2017 robot, Silver!</p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/LITgejXqEGM" frameborder="0" allowfullscreen></iframe>
            
            <h3 class="text-info">Chairman's Video 2017</h3>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Q5wawh9Q434" frameborder="0" allowfullscreen></iframe>

            <p>Questions? <a href="{{ baseUrl() }}/contact">Get in touch!</a> or email us at <a href="mailto:captain@mmr2410.com">captain@mmr2410.com</a>.</p>

            <h3 class="text-info">What is FIRST?</h3>
            {% include "includes/first.html" %}

            <p>Want to learn more about FIRST? <a href="http://www.firstinspires.org">www.firstinspires.org</a>.</p>

            <h3 class="text-info">A Big Thank You to our Sponsors</h3>
            {% include "includes/sponsors.html" %}
        </div>

        <div class="md-five columns pull-left">

            {% include "includes/carousel.html" %}

            <div class="text-center margin-b">
                <a href="https://www.facebook.com/FRC2410" class="social-icon">
                    <img src="{{ baseUrl() }}/img/social/fb-logo.png" alt="Facebook" width="60">
                </a>
                <a href="https://www.twitter.com/team2410" class="social-icon">
                    <img src="{{ baseUrl() }}/img/social/twitter-logo.png" alt="Twitter" width="60">
                </a>
                <a href="https://github.com/caps-robotics" class="social-icon">
                    <img src="{{ baseUrl() }}/img/social/github-logo.png" alt="Github" width="60">
                </a>
                <a href="https://instagram.com/metalmustangrobotics" class="social-icon">
                    <img src="{{ baseUrl() }}/img/social/insta-logo.png" alt="Instagram" width="60">
                </a>
            </div>

            {% include "includes/twitter.html" %}

        </div>

    </div>

{% endblock %}
