{% extends "base/base.html" %}

{% block content %}

    <div class="row">

        <div class="md-seven columns pull-right">

			<h2 class="text-info">Information for Team Members</h2>

			<h3 class="text-info">Team Calendar</h3>
            <iframe width="100%" height="315" src="https://calendar.google.com/calendar/embed?src=fi1mnpkn0reab24oq04pr96rl8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" frameborder="0" scrolling="no"></iframe>

            <h3 class="text-info">New Member Meeting PowerPoint</h3>
            <p>For those who missed the new member meeting or just want to see the powerpoint again, <a href="http://goo.gl/sf6qFV">click here</a> to view our introductory Power.Poin
            
			<h3 class="text-info">Parent Info Meeting PowerPoint</h3>
            <p>Also, for those who want to see the more informational presentation for the parents, <a href="http://goo.gl/XJfnPT">click here.</a></p>
        </div>

    </div>

{% endblock %}
