{% extends "base/base.html" %}

{% block content %}

    <div class="row">

        <div class="md-seven columns pull-right">

			<h2 class="text-info">Information for Parents</h2>

			<h3 class="text-info">Team Calendar</h3>
            <iframe width="100%" height="315" src="https://calendar.google.com/calendar/embed?src=fi1mnpkn0reab24oq04pr96rl8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" frameborder="0" scrolling="no"></iframe>

            <h3 class="text-info">Parent Info</h3>
            <p>We will be following the meeting schedule as described on the front page. We understand if your student will not be able to attend every meeting. Schoolwork definitely comes first, but we would like to see the students whenever they are able to attend.</p>
        </div>

    </div>

{% endblock %}
