{% extends "base/base.html" %}

{% block content %}

    <div class="row">

        <div class="md-seven columns pull-right">

			<h2 class="text-info">Information for Parents</h2>

			<h3 class="text-info">Team Calendar</h3>
            <iframe width="100%" height="315" src="https://calendar.google.com/calendar/embed?src=fi1mnpkn0reab24oq04pr96rl8%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" frameborder="0" scrolling="no"></iframe>

            <h3 class="text-info">Parent Info</h3>
            <p>We will be following the meeting schedule as described on the front page. We understand if your student will not be able to attend every meeting. Schoolwork definitely comes first, but we would like to see the students whenever they are able to attend.</p>

            <h3 class="text-info">Saturday Meetings Lunch</h3>
            <p>After our kickoff, we will be having parents work together to provide lunch for the team during the Saturday meetings. This is a long standing team tradition and it does not require much of your time, so we need you to participate. We will email out a sign-up sheet to the parents once we create it.</p>
        </div>

    </div>

{% endblock %}
