{% extends "base/base.html" %}

{% block content %}

<div class="jumbotron">
	<h1>Meet the Mentors</h1>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/2LqsTrVo-EE13Z9pILous99h_R9zLASfNG7n3XTpIJXwAzUR93vVoFchBlRecLUQPhMFHhB6qv7gAXSIuZLffPZHPCmSU_T48MrLpMaM7BG-5SG47hnw0anFKFFb1zKIuSRKeVqED-DKA8OagrC-vfn9QQe21aZRaCelpNDdwG5XW5ZD0B-eSBZDykgMBRReWKtSpHRcyY0NdtXplHaSnZOrnpmHX7ZRFQkO5LbgKZvEEMFFMwpCCv9oizCo0YlDAv-I5d6h_mu5H-oa4eSL9W7uWa42l-QMX0kt21SZPiA-6-p-88nOPp-8Dosw2QBTWQ9BMe0AW2eP0vxrzNAezOR4b8hodGIF3qLrHQqQ48T6DPX1ewK4o0-SSd7ugrHwvrcWfIYTHRHHxPd-VWnhJU7bovbOMncreG33ABwgfCJQ9fPmq_e6_akrDY2Feu1aLj1S1t8bgl4LVy1oD6JY3TxMa4G3ax7kkU95OihrR3aFBxHl-e2AjPEkEcSXrwlZ4J0XjCn5dxqhWKV8sE1LldXngrXuU9dbk-jaac0xAQnvjYNswjT9ss3PXrmIV68ZGGjnCvYZuxU2VdC6hOhamRqb5UdabBQq_rcd2tVCzXP2TfeHuRHhhmvnS7sEcwaey7xN5fzjbcUTVBjQfm_J8KoSgQ8aIuk=w625-h937-no">
			<h2><b>Mr. Mike Amos</b></h2>
		</div>
	</div>
    
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/T3L5wdnBW1zzgmJ7c2EFaGZk4MilO0icbsSJHp0jf8tAH5IFUGWU3IRQgdNgPjjzRYzZNfGU4HHIZLgBMrNNblk_MbzGJUfnsO9PfYqiphSJJnWTo22JB2_tWc61-wOjAAaCgAvz5i1OLBHTJTat5IwPYiVx-TH436HP-nskntQhITidpSZvatNz87SAW_SCISrudlMYUx_bEl0T32JHbDNW1jUStlvzEJllSNGTFRIiFP7ALbBTZrmHEdjfVP_al9qPu64dXKXUBSguw9-HFYnjbhmhd_SVwYyhuc458ESgkjffidhsSewFspSOT_ks2HY3mhfbxEtFo9x8mKg_9TKwMCASycmrWhZZUhWTGUHhx_x7cKV_I-Yw9vquVuIfreiLggzI2_0a-aGMY3rbtJAgPAv7Jla2oCs8I5acdfQKp1wiyb28y0eHlVkw0R4DVisHBv3qe1mhn0Ob5Xo3FlD-XrOc_7JQSkO1RqWvIJ6YX4AA8MCshK2ATk696sDrp2Sp2ZNx3xnRHiDW7s4Q9l1smsPVo4qb-FYBByaowmvpuxH78PY1tyMsKEc9I8ro58Dg1BBgqq3PvGOUadKi9rFlhY2XQV8EZ5-PIh_WRAFClyAl9cBBUTjs43l_T3Z4ajvOJIuMvLwlQZAsyyo_dSoO15QxNlM=w625-h937-no">
			<h2><b>Mr. Ron Gier</b></h2>
		</div>
	</div>
    
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/uV0ooofDA08zFBds95LNOE5_e5oYipLVzU5bF33nJUQz2BWM2uOvqQEsGCIcvov4UNKRhbJn0eZnC8TxfoZ3fy-AgZynp88A6ScwBotUIY3UommI71NpzNQtEr3piNtcuY6idPlILFoXe22BaQagCTMCfK4mar21n_z9oiRN59_RgyZkxk5H8opv4N18lODIYxmmMbXB2mM0zE0CTpFMTXSQg1CMUyROVZhfR_HqgFlEp0-UvRQ5iX2ad53pch_aKIYP2HitReJ0CskQpMtd0Zm9SDSHQzQ_avmf0msbIo2lM47FXzTALicH4Pnk_j-R-RsA-aYg2Z2-A6s-tMbmfA7UERNFv88af4zsLi-VZiRKNT7gsLLm1lmE1B28aovGjHZT1x5hViDlTPGwtY6paFtAgidCQ2fU26U3zERNs145GClpcTkvy73w_siaxIHAcaJxrqH_lEgFIPV9cCTlK5CWRVSsCNcR433sNIZgDOZaAU1umHLxcVudJp76CZMkj4C7nB2ADsKvZS6aD3BOrOWRUwhAeypwIGpkHVU4cS76MAyF5S-JoVhrDGWgibDeL5m_mtOGHfJK4V8qafgzVWBxS1wbmKhTZoDEF4Yji7BjRF0i3xyYeDmYBB1tTWSVir5M4dky1Iy7k1HLfhXlI-efTD6rm5U=w625-h937-no">
			<h2><b>Mr. Efi Kamara</b></h2>
		</div>
	</div>
    
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/0WjgTMZBnEu_eBKlT9ffvRZZKH4Oh92oXmJVTHlCweCoMVT6hfZBuOgmacdv9hQo-pDjT5vJ1Rvhj8A0HgvfFOfEPGVwOWm1PDXgnPcxeOrD0kfbW_uw9JFB1-SUME-l_WXGUzxefE9bxp-wqEb7iSvxah1NRgqMrbpFo3IbndWsz64dLKa6-QOrzGfVun6WRhLd67QYtTH8WhN3HjZL_GdugzMp05lpIqPwCB6xW31x_oyA-FGloI6Ds7dUiRsjoIgVdQJnvJ00DwMDJoc2mXMzo8ZGR9vAJlUCSdyIVssuXqAFX7CroMx9DQkYYUnKqOc-oNX5i4Hmap5PDdFEKxDJTV30_LPXS12hm9v9mvhSdX2Y65RAzu95Zn3XV8_tnvjb6VnbtAtfxzGYZrh-mK4x-J0ocSoD9Ruqf-3QmBwKbB9a5ZdL38T4rF06dJBHJOZ4mh6VQdJyQ7vtGrCoTZWOrf94YNpXBRE_CVB6sp9D1PtVmuBBxEHHwhCsrqxtu93K-b-JfzY2y9sRFD4hHdkjISfRPq1MUaCYrSDTCEW1PGLOPg6SBuGMEYxNEWkUT_1It21rEmHEn3tn8sZuqiPAu9PMG2aNkc2z00q6ESk7REJfGTEd6vPoXxRzPOJiOMMWQW2tRiYWH6ut_q3QL6RdGiQ_xZI=w625-h937-no">
			<h2><b>Mr. Rob Murphy</b></h2>
		</div>
	</div>  
    
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/4o1IgA_CQ9-z6Ap9j25NKf0nrb5WSrCTrb0UqRU9_dq8KUpw3Wc_wtQySx4t8slwsTE31BmNE2yODiYY_bHFFfcowGJIe2GzF7UxBuUkdRY2lbOW6BEL_IjS1foG4z7HgPEnhfZhtf3ak7t6v8FuqUDXx2364Hn4QmBmDPiQeomgdnbF2CAzQkIKbxIp-R0a5zK-MFbWgNd7_TIad64oW75GqzNg0R7_od5CITSTvmtiRhQawlGDfov0wx3V0NqEa2XF7-kam2TSVnUsF13_Y_MzWJGMU-sPDrl7u2EoJBkZLsJD8SJ2qtBnELn809bp8JpPlBtGGRdZ0iWOtjwowrJudt3iUmMgAkejVO5uFcOZ8yNhjmdYw0RZPgbU_AyWm1eb6LOH7_HfB0xinOEIkFo_hFL2TAZLuUCal4YgX_SOmiqs0oaJxjQA1Ma2mlBiWAFB39wgF_U-4n4Wx9hhqplaaw8xzsGWtkxKylLLlFsVMT7D4w2ygXG3VsKrFNfEoN5NfXfSqoFEOKdjS0NTq2P_CX15x2fe04cfI3GvS3mbEQ9fOhkkDzMwLx6v09dx8X5RVUqc885toyiNdVJ4XDn8Wt6ImNKXjfACXTh32MBIcuEPL_eW1fJba3eeHgQh_NoDQJ5gPMoBnxP0sO92HaT7IqIK8cg=w625-h937-no">
			<h2><b>Mr. Tim Navickas</b></h2>
		</div>
	</div>   
   	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/kvQR9P7omYZ60MiuK4B2L53wOVjK1GOv6ro-WViJT9L40_ifdKP6bNICuDbjMjqJuGE2zbRYaBLiZmUEPFR2MIyISC6Xt_GW-lC2HXDoCBmNasRX9BRVbk_5OyL3SALVuEbL1Dp0aI_BG7XSKnsI3Hugm3FeKtO7oBpbxhYICGxcCFL_r6K5kYohQ4rYJRbUfwbducMgKvC_-5Xw0Y6Y9bs8KUzJBJ6khrI11R5d6N5nhssN_6nzW83nIQdcZhxqDU2nHNE0u22dnb9zT652D2J5O_3Xe0EwESK8jRZb2WJZp7A7XwBrN_NwRtn87BUZ4rcekRGGJEJb9TUMaV8vloxO6MrJhsCXGF7J1_VGuBetoD-ZvC6sy0YJlzTGOn709aeqN0Aifaat3YEFoDyju9Fj0WtEhb7J3ea044bXrCOC5uWMktD6SIAC8GlF8mRRo1IBMtzA4VdyOlIChdfvYoZgC62rQEkh8a8zehgcKtReB6qTAc7D-o-0NS25GWpdNABqtIlPSMhRygQJrz_r6IL_hqCPEchs5UhZfew4rAeJuG99htEgxfhjL7ddidI7-V4Kz6eQ7wsAU2CmfXz395gJCd9PabFyZ_xQ02Eohyyce8_qdgTOPuAgvo2We20pixzCR6xGZEdAojK-1rgGklbf9_GbeVI=w625-h937-no">
			<h2><b>Mr. Mike Orzechowski</b></h2>
		</div>
	</div>   
  <div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/lPO4iWvxpxvA-BqLNJ72T1-okWZU1oS7d6HesDLy0pDRCN0p7sOOq1bZv4TPgXZ98vvGj0sztj4zfM3IagIa6Q2uRYYq-nl3u_3GIGqi8Kec39hreUILHCIIbO9XPR8zMCUrUu8TNTKwZs-iRhyNcYRduG6pgP657jFeehQ1zrmK2igGP9kYfYgZNFB5woOx4nuojbElfsPp_N82inHpl0jHIYCkEJuszZtQTzN_tmKQY6cgni6bORYJzPB5b4q-SDY9JAFP7GQ_NrhI0SzGz9RNXwr0_s_5PhC6MWlHMO77smqnRjiVa1iwwIw5kGlvWM-fKpK83ZmC6VaC0EtSBNwxNpHelR2azizCSXNe7qFvlNCkbhSk3Ky3eOG5TxvgIsZZeHzKfNnjSn1eDvqo_twyiKvRuM-Jf5rPwZrMQg0IKG1t0PKT5fWRpsKcaGqmLKg3u5wd0ilGYMiGguE47RxpZzRs5L3mT78WnVsX1akff2sXFDuLF_vmkytglFG7ICq39XgOrDr4Bm5CG2bGeiBJlFO75ZnPztAddji2ZEpaItzd2nwtqcuzv_bS1T9rFAmaQ072ORoS9T8QLBUjeBpXjXQ8dEBm-HbuhwoL5rP59jn9qOReoFClQpgKOiArWElsBLw5oFbq14qIYIhgfn55fGdb1lg=w625-h937-no">
			<h2><b>Mr. Robert Pudvan, P.E.</b></h2>
		</div>
	</div>   
  <div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/7MLnceknZQ7oF6P48a-0UmtikI1KT9xOULflApe7xbibmJDBPsTXCZyrIX34-xmpD_DMlDpA8FNAJv6TA3sxZcDDjNcyLF7qS1gcuwClA3S4favOpq99bvGhuh4zkQapwfBxzJoKNQc1jZJEErArU3MESEgnibX2X3eU-SOm5VWxxT9XaIwjHZBh2_O1cRHO0hiME9JH-5R9oKMbrL86MIsD6U-kA20u22uqa874OaU6nlpyFQef4Xp6uU5w1CTOOpyYDiCQmPzl-DOnVlHrFsgrUGdXK3z6j6slb35io3QSZ6d6HmjtGvMdwcRMHK2NS75Tfhc1Pqh3-pfwSIa88GNnqx5T37IpRGp3GogRmdYZ6ECz-Ujfpk3MM_ZUVHPwcdmCcKbelX9WyHhu5cieexyOClT8QJ3DpUKN6KTgMxWAJza4Ww_jaNbht4RtEHUzS-kUFciHl_ojrYOG-9tF1s1gOCTC17h9VBOCrv_weNpJs0T6rt1gUZzkB3VM6EonjDR4FM6BkbyCrE75fFNU-XLOsvw_0hSN6TyMW8VHnQffSIiRUxx-W3Z80Ppoeyla6FOpcWQzPLen2nK4ONPWjownrZXNbPHco-DbyJ2XjDBBROiCtUKgxkve2n5XTxdLfLp24shKflBDxCAJMLXjFqnXXzSyZf8=w625-h937-no">
			<h2><b>Mrs. Lucy Pudvan</b></h2>
		</div>
	</div>   
   <div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/b_NoILcs7y6JTOE5A3-yJF6mFdMA_IAfk7Daw9zyHI4kBOnn-hhIMtYqSQbEq4G7rMdCc7NL7UlIZjne1in-G5QIsxdcPCmvzA6RyROIL7dY8-N_-8i_5vjYAYnexSfcvzvglQaEI8xBD00ieMHjVThTW-uj0EYoedh8J8yO7-DHJJmyulR-Uhj-TbD781Eud1d8s-SBIxSajvvDu68kZo2VrNCNGpHio26F_JC3Mo57rjk_qfR4qCx1fd72f8Aw6yqn8c2Ep-RnrRyO93hoGZYzREsl6deDxkIgHKjyCUhvCx1l4JDd2zYORNRkd0fxpisicPC2t2Kq50v_BuqNTS3eO-qvfVFjjF_267igh8f-EcdVRKmF1dhpoFEMGlM1Hh-Ql1X26irmsZ2nUnGAdLokhcS0nUlxoXKYdaV40Uj3KCSpfDWoEs9NBxCOrQSRFDaISoycUsfnBUnuuxTQ1Czf40uWNWGgv-mjb3sJ-rCtosrHCZQDH3pbCXuOr9YJ1kEtAxHjJ-RdEA8atWKxEIKFJQcFCWC4OYkBu-31GQHDLzlwg6_1xEaeG8OjBFYzP6NYsHyHih8w1jHAYmHXmYqOfUijvwfi4r59C1Fq_rVqdVzSg9OfpRoSqaTAsaXqYlUqcvp7q87swwn9mRYRfwLhanm0UuE=w625-h937-no">
			<h2><b>Mr. Dan Ritter</b></h2>
		</div>
	</div>   
    
   <div class="col-sm-4">
		<div class="profile" style="">
			<img src="https://lh3.googleusercontent.com/uzsNFIUG0gAmHNybbwzMFO4p7h8V6WgNKdg3nUTjqrhPp_PEsGbbY0Re769HHdDkrVJFexzTPlZa-qM1A9zjDa3PhN7D0recz_xz7hzXnBoFrYstrU5uWdedbDINDnai88yiI-PLpuBB04EDkRERLVm67mXteTR3XNTf3roB_BgPdQbZ84IA7GuE_J0G_VlZz4FnFfZselJfqwwfeK2mTGmOxJ4uJ6WseG5HV0MTDdBtMd7t0REwtWXkAg644AWM9jjaBKBcaVddImv7zmUxdghBBVAD2BSS1mpecJRhU-gbfNseY7x5Pbp1GSg7LfALNzIOzLwrCoXlGsmqvsUp6SThOm6IdziFqr6AGJvfBC960u9FBzsn1jheYTZTI0dkRBjlt1ww-WbniYqeHQUAynK3iMmfVWySsrxyI-5CtO5trSvkasxdq10bmW68_b-ERsg0t2JkK0iSZuKJsVfPOi3aYlLoWTpMM-Q5ZZTL0xphrCadGeXDf4wjkvS6lcYYTBggi7DXkOXw7QsHO0WqyQtx-gsYIntBqF9s3U1tESOmu7DS3vTwRsoSOJerhtaE0SWRk5YMJ-Uz-IsIImYz77CBftl4Sf7MNAeUUt8j4DfU_o0hYyYkj33bZbaYyoIkrq7ghI7EOuSSbcyVGB56CGX5q3i4CWM=w625-h937-no">
			<h2><b>Mr. Calvin Tran</b></h2>
		</div>
	</div>   
     <div class="col-sm-4">
		<div class="profile" style="">
			<h2><b>Mr. Travis Vanderberg (not pictured)</b></h2>
		</div>
	</div>   
    
</div>

{% include "includes/sponsors.html" %}

{% endblock %}
