{% extends "base/base.html" %}

{% block content %}

	<div class="jumbotron" style="text-align: center;">
		<h1 style="text-align:center;"><b>Team 2410: Remake Learning Days KC</b></h1>

		<br style="clear:both;"/>
		<div style="text-align: center;">
			<div style="text-align: center;">
				<br style="clear:both;"/>
				<h2 style="padding:0;margin:0"><b>What is Remake Learning Day KC?</b><br></h2>
				<br>
				<h2 style="padding:0;margin:0"><small>Remake Learning Days is a regional festival for the future of work and learning that will turn the Kansas City area into an open house learning laboratory, featuring fun and free events for youth of all ages. Families can come together to experience making, new technology, art workshops, science experiments, robotics, outdoor learning and more!</small></h2>
			</div>

		</div>

	</div>

	<div class="jumbotron" style="text-align: center;">
		<br>
			<h2 style="padding:0;margin:0"><b>Team 2410 Team Activities:</b><br></h2>
			<br>
			<h2 style="padding:0;margin:0">Click <a href="https://forms.gle/2EAxHV3ZCx2Ckj3U8" target="_blank">here</a> to register for our events!<br></h2>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>FRC Robotics Team  2410 is hosting a camp for Kansas City students in middle and high school on May 4th and May 8th. The camp, which is around two hours long, will give kids an introductory lesson on circuit-building. At the end of the camp, campers will get to design their own circuit with lights that react to music (dancing lights!). The team doing this as a part of the KC STEM Alliance's Remake Learning KC challenge, which focuses on giving kids an accessible, affordable, and exciting introduction to STEM. No STEM experience of any kind is required for the camp! Additionally, all supplies will be provided - the camp is free.</small></h2>
			<br>
		</div>


	<div class="jumbotron" style="text-align: center;">
		<h2 style="text-align:center;"><b>At Home Activities:</b></h2>
		<br style="clear:both;"/>
		<div style="text-align: center;">
			<h2 style="padding:0;margin:0"><small>In celebration of <a href="https://www.nationalroboticsweek.org/" target="_blank">National Robotics Week</a>, we are providing a series of five fun and easy STEM activities that you can do at home!</small></h2>
			<br>
			<h2 style="padding:0;margin:0"><small>The mission of National Robotics Week (RoboWeek) is simple: inspire students in robotics and STEM related fields, and share the excitement of robotics across all ages.</small><br></h2>
		</div>

	</div>

	<div class="jumbotron" style="text-align: center;">
		<div style="text-align: center;">
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><b>Penny Boat Activiy:</b></h2>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>How many pennies will it take to sink your boat? Build penny boats to find out! This is an activity for all ages and an activity that elementary students and older can do independently*, but your whole family can participate too! Requires household materials like foil, water, and pennies. Have fun and test your boats!</small></h2>
			<br>
			<div class="container">
				<iframe width="100%" height="472.5" src="https://www.youtube.com/embed/7l8WXzRU03I" frameborder="0"></iframe>
			</div>
		</div>
	</div>

	<div class="jumbotron" style="text-align: center;">
		<div style="text-align: center;">
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><b>Kid-Friendly Elephant Toothpaste:</b></h2>
			<br>
			<img src="{{ baseUrl() }}/2021_files/rmkc/elephants_toothpaste.jpg"  style="max-height:20em;max-width: 100%;">
			<br>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>Looking for a fun STEM-related activity? Make elephant toothpaste! Learn basic chemistry through an engaging activity for all ages. This activity requires simple household materials and can be completed in just a matter of minutes!</small></h2>
			<br>
			<h2 style="padding:0;margin:0"><b><small>Click <a href="https://www.thoughtco.com/kid-friendly-elephant-toothpaste-demo-604164" target="_blank">here</a> for a guide on how to make this!</small></b><br></h2>
		</div>
	</div>

	<div class="jumbotron" style="text-align: center;">
		<div style="text-align: center;">
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><b>Balloon-Powered Car Challenge:</b></h2>
			<br>
			<img src="{{ baseUrl() }}/2021_files/rmkc/baloon_car.jpg"  style="max-height:25em;max-width: 100%;">
			<br>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>Make a fun and simple car powered entirely by air! Use a balloon to accelerate your car and experiment with different materials to make a car that travels the fastest and furthest! This activity is best suited for middle and high schoolers.</small></h2>
			<br>
			<h2 style="padding:0;margin:0"><b><small>Click <a href="https://www.sciencebuddies.org/science-fair-projects/project-ideas/Phys_p099/physics/balloon-powered-car-challenge?from=Blog#summary" target="_blank">here</a> for a guide on how to make this!</small></b><br></h2>
		</div>
	</div>

	<div class="jumbotron" style="text-align: center;">
		<div style="text-align: center;">
			<br style="clear:both;"/>
			<br>
			<h2 style="padding:0;margin:0"><b>Homemade Propeller Car:</b></h2>
			<br>
			<img src="{{ baseUrl() }}/2021_files/rmkc/propeller_car.jpg"  style="max-height:15em;max-width: 100%;">
			<br>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>Interested in electronics, cars, and propellers? Combine all 3 to create a propeller-propelled car! This activity is recommended to middle-schoolers and up, and might require supervision.</small></h2>
			<br>
			<h2 style="padding:0;margin:0"><b><small>Click <a href="https://researchparent.com/homemade-propeller-car/" target="_blank">here</a> for a guide on how to make this!</small></b><br></h2>
		</div>
	</div>

	<div class="jumbotron" style="text-align: center;">
		<div style="text-align: center;">
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><b>Hand Crank Winch:</b></h2>
			<br>
			<img src="{{ baseUrl() }}/2021_files/rmkc/winch.jpg"  style="max-height:20em;max-width: 100%;">
			<br>
			<br style="clear:both;"/>
			<h2 style="padding:0;margin:0"><small>This activity uses a straw, string, tape, and some cardboard paper towel tubes to create a simple winch that can lift a small basket! The activity uses basic materials, so it's suitable for all ages.</small></h2>
			<br>
			<h2 style="padding:0;margin:0"><b><small>Click <a href="https://littlebinsforlittlehands.com/build-a-winch-simple-machine-recycled-stem-activity/" target="_blank">here</a> for a guide on how to make this!</small></b><br></h2>
		</div>
	</div>

    <div class="jumbotron">
        <h1>Sponsors</h1>
	    {% include "includes/sponsors.html" %}
    </div>

{% endblock %}
