{% extends "base/base.html" %}

{% block content %}

<div class="jumbotron" style="text-align: left;">
	<h1><b>2017</b></h1>
	<h2 style="font-size: 1.8em;">Silver</h2>
	<div style="float: left">
		<img src="https://i.imgur.com/2Jqj8hF.jpg" style="height:16em;">
	</div>
		<p><b>Greater Kansas City Regional</b></p>
	</div>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2016</b></h1>
	<h2 style="font-size: 1.8em;">Man O' War</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/ManOWar.jpg" alt="Man O' War Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2015</b></h1>
	<h2 style="font-size: 1.8em;">Apollo II</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Apollo II.jpg" alt="Apollo II Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2014</b></h1>
	<h2 style="font-size: 1.8em;">Bullseye</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Bullseye.JPG" alt="Bullseye Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2013</b></h1>
	<h2 style="font-size: 1.8em;">Pegasus</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Pegasus.jpg" alt="Pegasus Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2012</b></h1>
	<h2 style="font-size: 1.8em;">Epona</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Epona.JPG" alt="Epona Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2011</b></h1>
	<h2 style="font-size: 1.8em;">Shadowfax</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Shadowfax.JPG" alt="Shadowfax Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2010</b></h1>
	<h2 style="font-size: 1.8em;">Trigger</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Trigger.JPG" alt="Trigger Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2009</b></h1>
	<h2 style="font-size: 1.8em;">G.B.A.L.</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/GBAL.JPG" alt="G.B.A.L. Picture" style="height:16em;">
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2008</b></h1>
	<h2 style="font-size: 1.8em;">Ally Luminum</h2>
	<img src="{{ baseUrl() }}/img/robot_pics/Ally Luminum.jpg" alt="Ally Luminum Picture" style="height:16em;">
</div>

{% endblock %}
