{% extends "base/base.html" %}

{% block content %}
<div class="jumbotron" style="text-align: left;">
	<h1><b>2022</b></h1>
	<h2 style="font-size: 1.8em;">Indecisive</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Indecisive.png" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Rankings:</b></p>
		<ul>
			<li>Overall Rank: 19th</li>
			<li>OPR Rank: 13th (17.30)</li>
			<ul>
				<li>OPR = average points scored per match </li>
			</ul>
			<li>Record: 5-7-0</li>
			<li>Quarterfinalist</li>
			<li>Gracious Professionalism Award</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2021</b></h1>
	<h2 style="font-size: 1.8em;">Wild West Wrangle</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Wild_West_Game.jpg" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Rankings:</b></p>
		<ul>
			<li>Game Design Submission: <a href="https://www.youtube.com/watch?v=SQjUcE01tko" target="_blank">Wild West Wrangle</a></li>
			<ul>
				<li>Game Manual: <a href="https://mmr2410.com/2021_files/WildWestWrangleManual.pdf" target="_blank">Here</a> </li>
			</ul>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2020</b></h1>
	<h2 style="font-size: 1.8em;">Genuine Risk</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Genuine_Risk.jpg" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Rankings:</b></p>
		<ul>
			<li>N/A (No Competitions Due to COVID-19)</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2019</b></h1>
	<h2 style="font-size: 1.8em;">Eclipse</h2>
	<div style="float: left">
		<img src="https://i.imgur.com/0svrxLs.jpg" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Oklahoma Regional</b></p>
		<ul>
			<li>Rank: 2nd</li>
			<li>Record: 11-3-0</li>
            <li>Semifinalist</li>
            <li>Judges' Award</li>
		</ul>
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 6th</li>
			<li>Record: 10-7-0</li>
			<li>Semifinalist</li>
            <li>Innovation in Control Award</li>
            <li>Safety Award Runner Up</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2018</b></h1>
	<h2 style="font-size: 1.8em;">Big Jake</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot/bigjake2.jpg" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 36th</li>
			<li>Record: 7-9-0</li>
			<li>Team Spirit Award</li>
		</ul>
		<p><b>Iowa Regional</b></p>
		<ul>
			<li>Rank: 1st</li>
			<li>Semifinalist</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2017</b></h1>
	<h2 style="font-size: 1.8em;">Silver</h2>
	<div style="float: left">
		<img src="https://i.imgur.com/2Jqj8hF.jpg" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 12th</li>
			<li>Record: 6-5-0</li>
		</ul>
		<p><b>Iowa Regional</b></p>
		<ul>
			<li>Rank: 4th</li>
			<li>Record: 12-5-3</li>
			<li>Regional Winner</li>
		</ul>
		<p><b>Curie Division</b></p>
		<ul>
			<li>Rank: 28th</li>
			<li>Record: 6-5-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2016</b></h1>
	<h2 style="font-size: 1.8em;">Man O' War</h2>
	<div style="float: left;">
		<img src="{{ baseUrl() }}/img/robot_pics/ManOWar.jpg" alt="Man O' War Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 41st</li>
			<li>Record: 4-6-0</li>
		</ul>
		<p><b>Iowa Regional</b></p>
		<ul>
			<li>Rank: 23th</li>
			<li>Record: 8-8-0</li>
			<li>Creativity Award</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2015</b></h1>
	<h2 style="font-size: 1.8em;">Apollo II</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Apollo II.jpg" alt="Apollo II Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 4th</li>
			<li>Qualifier Average: 79.00</li>
			<li>Playoff Average: 61.00</li>
			<li>Quality Award</li>
		</ul>
		<p><b>Hub City Regional</b></p>
		<ul>
			<li>Rank: 8th</li>
			<li>Qualifier Average: 79.50</li>
			<li>Playoff Average: 101.00</li>
			<li>Dean's List Finalist (Allison Meegan)</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2014</b></h1>
	<h2 style="font-size: 1.8em;">Bullseye</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Bullseye.JPG" alt="Bullseye Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 19th</li>
			<li>Record: 7-8-0</li>
			<li>Judges Award</li>
		</ul>
		<p><b>Oklahoma Regional</b></p>
		<ul>
			<li>Rank: 5th</li>
			<li>Record: 8-4-1</li>
			<li>Judges Award</li>
			<li>Dean's List Finalist (Lauren Pudvan)</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2013</b></h1>
	<h2 style="font-size: 1.8em;">Pegasus</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Pegasus.jpg" alt="Pegasus Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 35th</li>
			<li>Record: 4-6-0</li>
			<li>Gracious Professionalism Award</li>
		</ul>
		<p><b>Razorback Regional</b></p>
		<ul>
			<li>Rank: 14th</li>
			<li>Record: 9-8-0</li>
			<li>Woodie Flowers Finalist (Dan Ritter)</li>
			<li>Team Spirit Award</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2012</b></h1>
	<h2 style="font-size: 1.8em;">Epona</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Epona.JPG" alt="Epona Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 60th</li>
			<li>Record: 1-8-0</li>
		</ul>
		<p><b>Oklahoma Regional</b></p>
		<ul>
			<li>Rank: 19th</li>
			<li>Record: 6-6-0</li>
			<li>Team Spirit Award</li>
		</ul>
		<p><b>Archimedes Division</b></p>
		<ul>
			<li>Rank: 90th</li>
			<li>Record: 3-6-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2011</b></h1>
	<h2 style="font-size: 1.8em;">Shadowfax</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Shadowfax.JPG" alt="Shadowfax Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		 <p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 11th</li>
			<li>Record: 7-5-0</li>
			<li>Innovation in Control Award</li>
		</ul>
		<p><b>Midwest Regional</b></p>
		<ul>
			<li>Rank: 18th</li>
			<li>Record: 5-7-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2010</b></h1>
	<h2 style="font-size: 1.8em;">Trigger</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Trigger.JPG" alt="Trigger Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 20th</li>
			<li>Record: 10-5-2</li>
			<li>Finalist Award</li>
		</ul>
		<p><b>Oklahoma Regional</b></p>
		<ul>
			<li>Rank: 1st</li>
			<li>Record: 14-3-0</li>
		</ul>
		<p><b>Curie Division</b></p>
		<ul>
			<li>Rank: 41st</li>
			<li>Record: 6-4-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2009</b></h1>
	<h2 style="font-size: 1.8em;">G.B.A.L.</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/GBAL.JPG" alt="G.B.A.L. Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 9th</li>
			<li>Record: 6-4-0</li>
		</ul>
		<p><b>Colorado Regional</b></p>
		<ul>
			<li>Rank: 16th</li>
			<li>Record: 4-5-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>
<div class="jumbotron" style="text-align: left;">
	<h1><b>2008</b></h1>
	<h2 style="font-size: 1.8em;">Ally Luminum</h2>
	<div style="float: left">
		<img src="{{ baseUrl() }}/img/robot_pics/Ally Luminum.jpg" alt="Ally Luminum Picture" style="max-height:16em;max-width: 100%;">
	</div>
	<div style="float: left;line-height: 1.428571429;padding-left: 1em;">
		<p><b>St. Louis Regional</b></p>
		<ul>
			<li>Rank: 38th</li>
			<li>Record: 3-6-0</li>
			<li>Rookie All Star Award</li>
		</ul>
		<p><b>Greater Kansas City Regional</b></p>
		<ul>
			<li>Rank: 25th</li>
			<li>Record: 3-5-1</li>
		</ul>
		<p><b>Curie Division</b></p>
		<ul>
			<li>Rank: 72nd</li>
			<li>Record: 2-5-0</li>
		</ul>
	</div>
	<br style="clear:both;"/>
</div>

<div class="jumbotron">
    <h1>Sponsors</h1>
    {% include "includes/sponsors.html" %}
</div>

{% endblock %}
