{% extends "base/base.html" %}

{% block content %}

    <div class="row">

        <div class="md-seven columns pull-right">

			<h2 class="text-info">Our 2017 Robot: Silver</h2>

            <img src="{{ baseUrl() }}/img/robot_pics/Silver.jpg">

            <h4 class="text-info">Past Competitions</h4>

            <p>Greater KC Regional: Ranked 12</p>
            <p>Second seed alliance</p>
            <p>Iowa Regional: Ranked 4</p>
            <p><span class="text-info">Won the regional</span> on the third alliance!</p>

            <h4 class="text-info">Drivetrain</h4>

            <p>Swerve Drive</p>
            <p>Max Speed: 13 fps</p>
            <p>Super manueverable with pushing power</p>

            <h4 class="text-info">Gears</h4>

            <p>Passive intake/passive placement</p>
            <p>5 gears per match, easily</p>
            <p>Autonomous gear, prefer side pegs</p>

            <h4 class="text-info">Climbing</h4>

            <p>Two CIM climber</p>
            <p>3-4 second climb</p>
            <p>10 second climb total</p>

            <p><a href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></p>
        </div>

    </div>

{% endblock %}
