{% extends "base/base.html" %}

{% block content %}

    <div class="row">
    	<h2 style="text-align: center;padding-bottom: .25em;" class="text-info">Our 2017 Robot: Silver</h2>

        <div class="md-six columns pull-left">
            <img src="https://i.imgur.com/2Jqj8hF.jpg" width="100%">
        </div>

        <div class="md-six columns pull-right">
            <h4><a href="http://thebluealliance.com/team/2410">Our Blue Alliance Page</a></h4>

            <h4 class="text-info">Past Competitions</h4>
            <ul>
                <li>Greater KC Regional: Ranked 12, second seed alliance.</li>
                <li>Iowa Regional: Ranked 4, won the regional on the third seed alliance.</li>
            </ul>
             
            <h4 class="text-info">Drivetrain</h4>
            <ul>
                <li>Swerve Drive</li>
                <li>Max Speed: 13 fps</li>
                <li>Super manueverable with pushing power</li>
            </ul>

            <h4 class="text-info">Gears</h4>
            <ul>
                <li>Passive intake/passive placement</li>
                <li>5 gears per match, easily</li>
                <li>Autonomous gear, prefer side pegs</li>
            </ul>

            <h4 class="text-info">Climbing</h4>
            <ul>
                <li>Two CIM climber</li>
                <li>3-4 second climb</li>
                <li>10 second climb total</li>
            <ul>
        </div>
    </div>

{% endblock %}
