{% extends "base/base.html" %}

{% block content %}

<div style="width:80%;margin: 0 auto;">
    <div class="jumbotron">
        <h1>Thank you to our corporate sponsors </h1>
        <p><br>Thank you to all our sponsors!
        It is with your generous support that the Metal Mustangs are able to compete in competition and create an environment for young adults to learn technical and life skills preparing them for college and their careers.
        <br>Sincerely, The Metal Mustangs Robotics Members & Mentors,
        <br>Thank You!</p>

        {% include "includes/sponsors.html" %}
    </div>
    
<div class="jumbotron">
    <h1> Thank you to our individual and community sponsors </h1>
    <p> 
        <br> Eidemillers&nbsp; Fredericks&nbsp; Frieds </br>
<br> Giers&nbsp; Hardings&nbsp; Jengs </br>
<br> Jins&nbsp;Kaos&nbsp; Marneys </br>
<br> Murphys&nbsp; Nagpals&nbsp; Perry </br>
<br> Petrikins&nbsp; Powells&nbsp; Pudvans </br>
<br> Rodes&nbsp; Sethis&nbsp;  Weeks</br>
 </p>
</div>
    
    
   <div class="jumbotron">
       <h1> Prospective Sponsors </h1>
       <p> <br> Dear Prospective Sponsor,
 
The Metal Mustang Robotics team of the Blue Valley school district requests your sponsorship. Your support is crucial to fielding the competitive team and providing the educational opportunities on which the team was founded.</pr>
<p><br>Each year, the team competes at multiple competitions against 60+ other teams, as well as attend 20 – 30 outreach events some of which are planned and run by team members. The Metal Mustangs are well known in the Blue Valley School District and the Midwest FIRST Robotics community. Sponsors of the team are represented on the team’s website, social media, robot, t-shirts, and banners.</br></p>
<p><br>The 501(c)(3) and all necessary information to make a tax-deductible donation to the team is available immediately upon email request. Checks are payable to CAPS Robotics Booster Club, Inc.  Tax receipt to follow.  Many thanks for your support, it is essential for the function of the team.<br></p>
<p><br>Sincerely, on behalf of The Metal Mustangs Robotics Members & Mentors,
<br>Thank You!
<br>
Go Metal Mustangs!
<br>

For more information, click <a href="https://dochub.com/miminguyen0404/m1R5o1/metal-mustangs-robotics-frc2410-donation-solicitation-letter-2018-2019-doc?dt=GyaPEysgWo91n7U8F7UA">here</a>
If you would like to donate, please click <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JZQ55UNQGPSRW">here</a></p>

   
        
</div> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>    
    {% endblock %}

