{% extends "base/base.html" %}

{% block content %}

<div class="jumbotron">
	<h1>Meet the Team</h1>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Ashvika_Bhan.jpg">
			<h2><b>Ashvika Bhan</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Brett_Collier.jpg">
			<h2><b>Brett Collier</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Ria_Dave.jpg">
			<h2><b>Ria Dave</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Shriya_Dave.jpg">
			<h2><b>Shriya Dave</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Jake_Eidemiller.jpg>"> 
			<h2><b>Jake Eidemiller</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Jarod_Frederick.jpg">
			<h2><b>Jarod Frederick</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Andrew_Jin.jpg">
			<h2><b>Andrew Jin</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Abha_Kaushik.jpg">
			<h2><b>Abha Kaushik</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Ethan_Liem.jpg">
			<h2><b>Ethan Liem</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Joseph_Lilley.jpg">
			<h2><b>Joseph Lilley</b></h2>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Rajin_Nagpal.jpg">
			<h2><b>Rajin Nagpal</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Michael_Rode.jpg">
			<h2><b>Michael Rode</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Evan_Schimmel.jpg">
			<h2><b>Evan Schimmel</b></h2>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Arul_Sethi.jpg">
			<h2><b>Arul Sethi</b></h2>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="profile" style="">
			<img src="{{ baseUrl() }}/img/members/Josh_Vickers.jpg">
			<h2><b>Josh Vickers</b></h2>
		</div>
	</div>
</div>

<div class="jumbotron">
    <h1>Sponsors</h1>
    {% include "includes/sponsors.html" %}
</div>

{% endblock %}
