nav.nav
    .container
        .nav-header
            a(href="index.html").nav--brand the metal mustangs
        .nav-body
            ul.nav--items
                li
                    a(href="index.html")
                        span.icon.icon--home
                        |  home
                li
                    a(href="team.html")
                        span.icon.icon--team
                        |  team
                li
                    a(href="community.html")
                        span.icon.icon--community
                        |  community
                li
                    a(href="robots.html")
                        span.icon.icon--robots
                        |  robots
                li
                    a(href="blog.html")
                        span.icon.icon--blog
                        |  blog
                li
                    a(href="contact.html")
                        span.icon.icon--contact
                        |  contact
        .nav-footer
            ul.nav--social
                li
                    a(href="https://twitter.com/team2410", target="_blank")
                        span.icon.icon--twitter
                li
                    a(href="https://facebook.com/FRC2410", target="_blank")
                        span.icon.icon--facebook