nav.nav-sponsors
    ul.nav--items
        li
            a(href="http://www.bvcaps.org", target="_blank") Blue Valley CAPS
        li
            a(href="http://www.bvef.org", target="_blank") BVEF
        li
            a(href="http://www.sprint.com", target="_blank") Sprint
        li
            a(href="http://www.gm.com", target="_blank") General Motors
        li
            a(href="http://www.honeywell.com", target="_blank") Honeywell
        li
            a(href="http://www.cener.com", target="_blank") Cerner
        li
            a(href="http://www.ryerson.com", target="_blank") Ryerson
        li
            a(href="http://www.nasa.gov", target="_blank") NASA